body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: Verdana, Tahoma, sans-serif;
    
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.new-book {
    background-color: aqua;
    font-weight: bold;
    padding: 1rem 1.75rem;
    border: none;
    border-radius: 1rem;
}

.new-book:hover {
    cursor: pointer;
    background-color: #443623;
    color: aqua;
}

.container {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    width: 50%;
    gap: 2rem;
}

.book-card {
    display: grid;
    grid-template-rows: auto 54px;
    background-color: aliceblue;
    padding: 1rem 1rem 0.25rem 1rem;
    border: blue 1px solid;
    border-radius: 1rem;
    box-shadow: #443623 2px 4px 3px 0px;
}

.book-card-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.book-remove {
    padding: 8px;
    border: none;
    border-radius: 1rem;
    color: aliceblue;
    font-weight: 600;
    background-color: rgb(255, 115, 0);
}

.book-remove:hover {
    background-color: red;
    cursor: pointer;
}

.book-toggle-readstatus {
    padding: 8px;
    border: none;
    border-radius: 1rem;
    color: aliceblue;
    font-weight: 600;
    background-color: rgb(0, 255, 0);
}

.book-toggle-readstatus:hover {
    cursor: pointer;
    background-color: rgb(4, 139, 4);
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}